{% extends 'photoapp/base.html' %}
{% load thumbnail %}
{% block body %}

<div class="mx-auto">
  <h1 class="text-center">{{ photo.title }}</h1>
  <p class="text-center fw-light">Uploaded on: {{photo.published_date}} <br> By {{photo.author.username}}</p>
  {% if user == photo.author %}
    <p class="text-center">
      <span><a href="{% url 'photo:update' photo.id %}" class="text-primary px-2">Update</a></span>
      <span><a href="{% url 'photo:delete' photo.id %}" class="text-danger px-2">Delete</a></span>
      {% if user.is_authenticated %}
      <span><a href="{{photo.image.url}}" class="text-warning px-2" target="_blank">Download</a></span>
      {% endif %}
      {%else%}
      <span><a href="{% url 'user:login' %}" class="text-warning px-2">Download</a></span>
    </p>
  {% endif %}
 
</div>
<div class="row pb-5">
  <div class="col-md-8">
    {% thumbnail photo.image "500x300" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" oncontextmenu="return false;">
  {% endthumbnail %}
  </div>
  <div class="col-md-4">
    <h4>More about this photo:</h4>
    <ul class="list-group list-group-horizontal-lg list-unstyled py-4">
      {% for tag in photo.tags.all %}
        <li><a href="{% url 'photo:tag' tag.slug %}" class="btn btn-sm list-group-item list-group-item-primary">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
    <p>{{ photo.description }}</p>
  </div>
</div>

{% endblock body %}